.buzo{
    width: 300px;
}

.pantalon{
    width: 300px;
}

.zapatillas{
    width: 300px;
}

.zapatillas-adidas{
    height: 300px;
}

.remera{
    width: 300px;
}

.buzo-nike{
    width: 300px;
}

.buzo-puma{
    width: 300px;
}

.campera-arg{
    width: 300px;
}